<main class="price">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-6 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">"Семейная история"</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">14 500 ₽</h1>
            <em>(Дом/улица/дача)</em>
            <ul class="list-unstyled mt-6 mb-0">
              <li>1)Консультация и помощь в подборе образов</li>
              <li>2)Планирование съемки: идеи и локации</li>
              <li>3)Без ограничения по времени ( на практике до 3х часов)</li>
              <li>4)50 - 100 разноплановых фотографий в авторской обработке</li>
              <li>5)Выезд на место съемки по Москве и Подмосковью</li>
            </ul>
           
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-6 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">"Студийная история"</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">12 000 ₽</h1>
            <br>
            <ul class="list-unstyled mt-6 mb-6">
              <li>1)Консультация и помощь в подборе образов и студии</li>
              <li>2)Планирование съемки: идеи и локации</li>
              <li>3)Без ограничения по времени</li>
              <li>4)Печать 10 фотографий 10х15 в фирменной упаковке</li>
              <li>5)Ссылка на электронный архив фотографий</li>
              <li>6)50 - 70 разноплановых фотографий в авторской обработке</li>
            </ul>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3">
          <div class="card-header py-3 ">
            <h4 class="my-0 fw-normal">"Семейное событие"</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">11 000 ₽</h1>
             <em>Репортажная съемка (крещение, дни рождения)</em>
            <ul class="list-unstyled mt-6 mb-0">
              <li>1)Консультация и помощь в подборе образов</li>
              <li>2)Без ограничения по времени (на практике до 3х часов)</li>
              <li>3)Выезд на место съемки по Москве и Подмосковью</li>
              <li>4)Ссылка на электронный архив фотографий</li>
              <li>5)60 - 120 разноплановых фотографий в авторской обработке</li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>


  </main>
