.B{
    text-align: center;
    width: 1000px;
<<<<<<< HEAD
    margin-bottom: 300px;
    margin-top: 95px;
    margin-left: 9%;

}
=======
    margin-bottom: 650px;

}
>>>>>>> e555efe24d432e5226cda16b09dc3ee5ce863631
