<div class="B">
    <p>Меня зовут Леся - я семейный и детский фотограф в Москве и МО.</p>
    <p>Снимаю все важные события о вашей семье - беременность, рождение, выписка, первые дни дома, крещение, дни рождения, появление питомцев и все события, что ценны для нас.
        Отдаю предпочтение семейным съемкам дома. Ваш дом - лучшая фотостудия, ваша история, где вся атмосфера пропитана счастливыми воспоминаниями и рассказывает о Вас!
        Я за живые, искренние и эмоциональные кадры. Вам просто нужно быть собой настоящими, а я обязательно помогу вам раскрепоститься и увлечься съемочным процессом. Но мы обязательно сделаем красивые совместные классические кадры и портреты. Ловлю в кадр любого непоседу, целую банду озорных детей и четвероногого друга.
        Легко нахожу общий язык с детьми, изучила всю популярную литературу о психологии детей и продолжаю ей увлекаться - мне это очень помогает в моей работе и в воспитании собственных детей.</p>
</div>
