.main-layout {
    display: flex;
    flex-direction: column;
}
.main-layout {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}
footer {
    display: flex;
    align-content:flex-end;
}
.nav {
<<<<<<< HEAD
    margin-left: 32%;
=======
    margin-left: 300px;

>>>>>>> e555efe24d432e5226cda16b09dc3ee5ce863631
}
.A {
    margin-left: 240px;
}
<<<<<<< HEAD
.C{
    margin-left: 240px;
}
=======
>>>>>>> e555efe24d432e5226cda16b09dc3ee5ce863631
