.main-layout {
    display: flex;
    flex-direction: column;
}
.main-layout {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}
footer {
    display: flex;
    align-content:flex-end;
}
.nav {
    margin-left: 450px;

}
.A {
    margin-left: 378px;
}
