<div class="main-layout container">
  <header class="">
    <ul class="nav nav-pills">
      
      <li class="nav-item"><a routerLink="about" class="nav-link">Обо мне</a></li>
      <li class="nav-item"><a routerLink="review" class="nav-link">Отзывы</a></li>
      <li class="nav-item"><a routerLink="portfolio" class="nav-link">Портфолио</a></li>
      <li class="nav-item"><a routerLink="price" class="nav-link">Цены</a></li>
    </ul>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      
    </div>
    
    <div class="col">
      
    </div>
    
    <div class="col">
      <h5 class="A">Связь:</h5>
      <ul class="nav flex-column">
        <li class="C mb-2"><a href="https://www.instagram.com/lesya.garanina/" class="nav-link p-0 text-muted">instagram</a></li>
        <li class="C mb-2"><a href="#" class="nav-link p-0 text-muted">+78888888888</a></li> 
      </ul>
    </div>
  </footer>
</div>